* {
	box-sizing: border-box;
}

.row {
	 max-width: 960px;
  	 padding-left: 20px;
  	 padding-right: 20px;
     margin: 0 auto;
     margin-bottom: 20px;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-12 {

}

.col-4 {
	float: left;
}

@media only screen and(min-width: 640px) {
	.col-4 {
		width: 33.33%;
	}
} 

.card {

}

.card-image {

}

.card-content h2 {

}

.card-content p {

}